<?xml version="1.0" encoding="iso-8859-1" standalone="no"?>
<adtf:scheduling_info xmlns:adtf="adtf">
 <handle flags="0" name="AADC_Signal_Value_Generator.timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="AADC_Watchdog_Trigger.timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Algoritm_Sampling_Rate_Trigger.timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-AADC_Arduino_Communication.timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_111546864_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_133568464_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_32738368_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_33906304_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_39963840_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_48794640_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_78487632_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_80486864_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_81268656_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_87643504_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_94263760_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_95885312_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Base_Config-Jury_Config_tcp_channel_99403328_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="CloseConfig" priority="0" processoraffinity="0" />
 <handle flags="0" name="CmdInitDeinit" priority="0" processoraffinity="0" />
 <handle flags="0" name="CmdPlayPause" priority="0" processoraffinity="0" />
 <handle flags="0" name="CmdStop" priority="0" processoraffinity="0" />
 <handle flags="0" name="Configuration Editor - loading system.xml" priority="0" processoraffinity="0" />
 <handle flags="0" name="Configuration Editor - unloading configuration" priority="0" processoraffinity="0" />
 <handle flags="0" name="Jury_ObjectsOutput_tcp_channel_100373808_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Jury_ObjectsOutput_tcp_channel_100958048_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Jury_ObjectsOutput_tcp_channel_101226176_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Jury_ObjectsOutput_tcp_channel_101789344_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Jury_ObjectsOutput_tcp_channel_105174784_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Jury_ObjectsOutput_tcp_channel_106053984_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Jury_ObjectsOutput_tcp_channel_106078592_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Jury_ObjectsOutput_tcp_channel_106722608_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Jury_ObjectsOutput_tcp_channel_107042752_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Jury_ObjectsOutput_tcp_channel_107284000_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Jury_ObjectsOutput_tcp_channel_107382896_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Jury_ObjectsOutput_tcp_channel_108089328_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Jury_ObjectsOutput_tcp_channel_108205600_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Jury_ObjectsOutput_tcp_channel_112573056_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Jury_ObjectsOutput_tcp_channel_112748624_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Jury_ObjectsOutput_tcp_channel_114663040_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Jury_ObjectsOutput_tcp_channel_115926448_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Jury_ObjectsOutput_tcp_channel_117406832_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Jury_ObjectsOutput_tcp_channel_117749024_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Jury_ObjectsOutput_tcp_channel_119731760_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Jury_ObjectsOutput_tcp_channel_137553936_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Jury_ObjectsOutput_tcp_channel_138768016_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Jury_ObjectsOutput_tcp_channel_40662320_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Jury_ObjectsOutput_tcp_channel_85104496_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Jury_ObjectsOutput_tcp_channel_85962896_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Jury_ObjectsOutput_tcp_channel_86780672_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Jury_ObjectsOutput_tcp_channel_87716176_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Jury_ObjectsOutput_tcp_channel_88171744_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Jury_ObjectsOutput_tcp_channel_90418128_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Jury_ObjectsOutput_tcp_channel_90784112_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Jury_ObjectsOutput_tcp_channel_91161792_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Jury_ObjectsOutput_tcp_channel_92249824_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Jury_ObjectsOutput_tcp_channel_92599760_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Jury_ObjectsOutput_tcp_channel_93479584_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Jury_ObjectsOutput_tcp_channel_93902704_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Jury_ObjectsOutput_tcp_channel_94730704_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Jury_ObjectsOutput_tcp_channel_96988704_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Jury_ObjectsOutput_tcp_channel_97129232_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Jury_ObjectsOutput_tcp_channel_97261008_connect_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Linux_Video_Capture_Device.devicecontrol_thread" priority="0" processoraffinity="0" />
 <handle flags="0" name="LoadGlobalsFromFile" priority="0" processoraffinity="0" />
 <handle flags="0" name="MapServicesToCurrentGeneral" priority="0" processoraffinity="0" />
 <handle flags="0" name="NMPC_Sampling_Rate_Trigger.timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="OpenConfig" priority="0" processoraffinity="0" />
 <handle flags="0" name="RearCam.devicecontrol_thread" priority="0" processoraffinity="0" />
 <handle flags="0" name="ReloadCurrent" priority="0" processoraffinity="0" />
 <handle flags="0" name="SOP_AutonomousDriving.timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="SOP_NMPC_Controller.timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="SOP_Sampling_Rate_Trigger.timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="SOP_Wheel_Speed_Controller.timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="SetRunLevel" priority="0" processoraffinity="0" />
 <handle flags="0" name="Speed_Sampling_Rate_Trigger.timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="Unload Filtergraph" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.Base_Config-Base_Positioning-Jury_Visualization.dataexchange_channel_thread_udp://192.168.1.20:30000{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.Base_Config-Base_Positioning-Jury_Visualization.udp_channel.receiver_thread(udp://192.168.1.20:30000{timeout=300000,max_package_size=65000})" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.Base_Config-Jury_Config.dataexchange_channel_thread_tcp://141.24.108.75:3000{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.Base_Config-Jury_Config.dataexchange_channel_thread_tcp://localhost:5000{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.Base_Config.dataexchange_channel_thread_tcp://141.24.108.75:3000{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.Jury_ObjectsOutput.dataexchange_channel_thread_tcp://141.24.208.42:30001{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.Jury_ObjectsOutput.dataexchange_channel_thread_tcp://192.168.1.20:30001{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.Jury_Position.dataexchange_channel_thread_udp://141.24.108.135:30000{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.Jury_Position.dataexchange_channel_thread_udp://141.24.108.161:30000{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.Jury_Position.dataexchange_channel_thread_udp://141.24.108.76:30000{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.Jury_Position.dataexchange_channel_thread_udp://141.24.208.39:30000{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.Jury_Position.dataexchange_channel_thread_udp://141.24.208.42:30000{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.Jury_Position.dataexchange_channel_thread_udp://192.168.0.104:30000{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.Jury_Position.dataexchange_channel_thread_udp://192.168.1.20:30000{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.Jury_Position.udp_channel.receiver_thread(udp://141.24.108.135:30000{timeout=300000,max_package_size=65000})" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.Jury_Position.udp_channel.receiver_thread(udp://141.24.108.161:30000{timeout=300000,max_package_size=65000})" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.Jury_Position.udp_channel.receiver_thread(udp://141.24.108.76:30000{timeout=300000,max_package_size=65000})" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.Jury_Position.udp_channel.receiver_thread(udp://141.24.208.39:30000{timeout=300000,max_package_size=65000})" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.Jury_Position.udp_channel.receiver_thread(udp://141.24.208.42:30000{timeout=300000,max_package_size=65000})" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.Jury_Position.udp_channel.receiver_thread(udp://192.168.0.104:30000{timeout=300000,max_package_size=65000})" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.Jury_Position.udp_channel.receiver_thread(udp://192.168.1.20:30000{timeout=300000,max_package_size=65000})" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.can_signal_provider_worker" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.console_device_thread" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.core.memory_manager.release_timer" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.core.message_bus.channelinfo_thread" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.lin_signal_provider_worker" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.most_signal_provider_worker" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.signalregistry_worker" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.transport_widget_thread" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.unnamed.hdsequencer_thread" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.unnamed.looper_thread" priority="0" processoraffinity="0" />
</adtf:scheduling_info>
