<xml>
	<property name="EKF Position" value="tableview" />
	<property name="EKF Position.column_0_name" value="Signal" />
	<property name="EKF Position.column_0_show" value="true" />
	<property name="EKF Position.column_0_width" value="100" />
	<property name="EKF Position.column_1_name" value="Time" />
	<property name="EKF Position.column_1_show" value="true" />
	<property name="EKF Position.column_1_width" value="100" />
	<property name="EKF Position.column_2_name" value="Value" />
	<property name="EKF Position.column_2_show" value="true" />
	<property name="EKF Position.column_2_width" value="100" />
	<property name="EKF Position.column_3_name" value="Unit" />
	<property name="EKF Position.column_3_show" value="true" />
	<property name="EKF Position.column_3_width" value="100" />
	<property name="EKF Position.column_4_name" value="Raw" />
	<property name="EKF Position.column_4_show" value="true" />
	<property name="EKF Position.column_4_width" value="100" />
	<property name="EKF Position.column_5_name" value="Text" />
	<property name="EKF Position.column_5_show" value="true" />
	<property name="EKF Position.column_5_width" value="100" />
	<property name="EKF Position.height" value="178" />
	<property name="EKF Position.maximized" value="false" />
	<property name="EKF Position.signal_0_displayformat" value="1" />
	<property name="EKF Position.signal_0_displayname" value="f32EKFheading" />
	<property name="EKF Position.signal_0_name" value="adtf.core.mediadescription_manager/SOP_AutonomousDriving/EKF_Position/data/tEKFPosition/f32EKFheading" />
	<property name="EKF Position.signal_0_unit" value="" />
	<property name="EKF Position.signal_1_displayformat" value="1" />
	<property name="EKF Position.signal_1_displayname" value="f32EKFradius" />
	<property name="EKF Position.signal_1_name" value="adtf.core.mediadescription_manager/SOP_AutonomousDriving/EKF_Position/data/tEKFPosition/f32EKFradius" />
	<property name="EKF Position.signal_1_unit" value="" />
	<property name="EKF Position.signal_2_displayformat" value="1" />
	<property name="EKF Position.signal_2_displayname" value="f32EKFspeed" />
	<property name="EKF Position.signal_2_name" value="adtf.core.mediadescription_manager/SOP_AutonomousDriving/EKF_Position/data/tEKFPosition/f32EKFspeed" />
	<property name="EKF Position.signal_2_unit" value="" />
	<property name="EKF Position.signal_3_displayformat" value="1" />
	<property name="EKF Position.signal_3_displayname" value="f32EKFx" />
	<property name="EKF Position.signal_3_name" value="adtf.core.mediadescription_manager/SOP_AutonomousDriving/EKF_Position/data/tEKFPosition/f32EKFx" />
	<property name="EKF Position.signal_3_unit" value="" />
	<property name="EKF Position.signal_4_displayformat" value="1" />
	<property name="EKF Position.signal_4_displayname" value="f32EKFy" />
	<property name="EKF Position.signal_4_name" value="adtf.core.mediadescription_manager/SOP_AutonomousDriving/EKF_Position/data/tEKFPosition/f32EKFy" />
	<property name="EKF Position.signal_4_unit" value="" />
	<property name="EKF Position.signal_count" value="5" />
	<property name="EKF Position.width" value="490" />
	<property name="EKF Position.x_pos" value="422" />
	<property name="EKF Position.y_pos" value="125" />
	<property name="ImageProcess" value="tableview" />
	<property name="ImageProcess.column_0_name" value="Signal" />
	<property name="ImageProcess.column_0_show" value="true" />
	<property name="ImageProcess.column_0_width" value="121" />
	<property name="ImageProcess.column_1_name" value="Time" />
	<property name="ImageProcess.column_1_show" value="true" />
	<property name="ImageProcess.column_1_width" value="100" />
	<property name="ImageProcess.column_2_name" value="Value" />
	<property name="ImageProcess.column_2_show" value="true" />
	<property name="ImageProcess.column_2_width" value="100" />
	<property name="ImageProcess.column_3_name" value="Unit" />
	<property name="ImageProcess.column_3_show" value="true" />
	<property name="ImageProcess.column_3_width" value="100" />
	<property name="ImageProcess.column_4_name" value="Raw" />
	<property name="ImageProcess.column_4_show" value="true" />
	<property name="ImageProcess.column_4_width" value="100" />
	<property name="ImageProcess.column_5_name" value="Text" />
	<property name="ImageProcess.column_5_show" value="true" />
	<property name="ImageProcess.column_5_width" value="271" />
	<property name="ImageProcess.height" value="223" />
	<property name="ImageProcess.maximized" value="false" />
	<property name="ImageProcess.signal_0_displayformat" value="1" />
	<property name="ImageProcess.signal_0_displayname" value="0. Image Debug" />
	<property name="ImageProcess.signal_0_name" value="adtf.core.mediadescription_manager/SOP_Image_Process/ImageDebug/data/tSignalValue/f32Value" />
	<property name="ImageProcess.signal_0_unit" value="" />
	<property name="ImageProcess.signal_1_displayformat" value="1" />
	<property name="ImageProcess.signal_1_displayname" value="4. LandModel_b" />
	<property name="ImageProcess.signal_1_name" value="adtf.core.mediadescription_manager/SOP_Image_Process/LaneModelStruct/data/tLaneCurveData/LandModel_b" />
	<property name="ImageProcess.signal_1_unit" value="" />
	<property name="ImageProcess.signal_2_displayformat" value="1" />
	<property name="ImageProcess.signal_2_displayname" value="2. LandModel_k" />
	<property name="ImageProcess.signal_2_name" value="adtf.core.mediadescription_manager/SOP_Image_Process/LaneModelStruct/data/tLaneCurveData/LandModel_k" />
	<property name="ImageProcess.signal_2_unit" value="" />
	<property name="ImageProcess.signal_3_displayformat" value="1" />
	<property name="ImageProcess.signal_3_displayname" value="3. LandModel_m" />
	<property name="ImageProcess.signal_3_name" value="adtf.core.mediadescription_manager/SOP_Image_Process/LaneModelStruct/data/tLaneCurveData/LandModel_m" />
	<property name="ImageProcess.signal_3_unit" value="" />
	<property name="ImageProcess.signal_4_displayformat" value="1" />
	<property name="ImageProcess.signal_4_displayname" value="1.LaneDetectMode" />
	<property name="ImageProcess.signal_4_name" value="adtf.core.mediadescription_manager/SOP_Image_Process/LaneModelStruct/data/tLaneCurveData/LaneDetectMode" />
	<property name="ImageProcess.signal_4_unit" value="" />
	<property name="ImageProcess.signal_5_displayformat" value="1" />
	<property name="ImageProcess.signal_5_displayname" value="5. LaneWidth" />
	<property name="ImageProcess.signal_5_name" value="adtf.core.mediadescription_manager/SOP_Image_Process/LaneModelStruct/data/tLaneCurveData/LaneWidth" />
	<property name="ImageProcess.signal_5_unit" value="" />
	<property name="ImageProcess.signal_6_displayformat" value="1" />
	<property name="ImageProcess.signal_6_displayname" value="StopLineDistance" />
	<property name="ImageProcess.signal_6_name" value="adtf.core.mediadescription_manager/SOP_Image_Process/LaneModelStruct/data/tLaneCurveData/StopLineDistance" />
	<property name="ImageProcess.signal_6_unit" value="" />
	<property name="ImageProcess.signal_7_displayformat" value="1" />
	<property name="ImageProcess.signal_7_displayname" value="Adult_flag" />
	<property name="ImageProcess.signal_7_name" value="adtf.core.mediadescription_manager/SOP_Image_Process/LaneModelStruct/data/tLaneCurveData/Adult_flag" />
	<property name="ImageProcess.signal_7_unit" value="" />
	<property name="ImageProcess.signal_8_displayformat" value="1" />
	<property name="ImageProcess.signal_8_displayname" value="Child_flag" />
	<property name="ImageProcess.signal_8_name" value="adtf.core.mediadescription_manager/SOP_Image_Process/LaneModelStruct/data/tLaneCurveData/Child_flag" />
	<property name="ImageProcess.signal_8_unit" value="" />
	<property name="ImageProcess.signal_count" value="9" />
	<property name="ImageProcess.width" value="403" />
	<property name="ImageProcess.x_pos" value="11" />
	<property name="ImageProcess.y_pos" value="172" />
	<property name="Marker" value="tableview" />
	<property name="Marker.column_0_name" value="Signal" />
	<property name="Marker.column_0_show" value="true" />
	<property name="Marker.column_0_width" value="100" />
	<property name="Marker.column_1_name" value="Time" />
	<property name="Marker.column_1_show" value="true" />
	<property name="Marker.column_1_width" value="100" />
	<property name="Marker.column_2_name" value="Value" />
	<property name="Marker.column_2_show" value="true" />
	<property name="Marker.column_2_width" value="100" />
	<property name="Marker.column_3_name" value="Unit" />
	<property name="Marker.column_3_show" value="true" />
	<property name="Marker.column_3_width" value="100" />
	<property name="Marker.column_4_name" value="Raw" />
	<property name="Marker.column_4_show" value="true" />
	<property name="Marker.column_4_width" value="100" />
	<property name="Marker.column_5_name" value="Text" />
	<property name="Marker.column_5_show" value="true" />
	<property name="Marker.column_5_width" value="100" />
	<property name="Marker.height" value="210" />
	<property name="Marker.maximized" value="false" />
	<property name="Marker.signal_0_displayformat" value="1" />
	<property name="Marker.signal_0_displayname" value="af32RVec[0]" />
	<property name="Marker.signal_0_name" value="adtf.core.mediadescription_manager/SOP_Marker_Detector/RoadSign_ext/data/tRoadSignExt/af32RVec[0]" />
	<property name="Marker.signal_0_unit" value="" />
	<property name="Marker.signal_1_displayformat" value="1" />
	<property name="Marker.signal_1_displayname" value="af32RVec[1]" />
	<property name="Marker.signal_1_name" value="adtf.core.mediadescription_manager/SOP_Marker_Detector/RoadSign_ext/data/tRoadSignExt/af32RVec[1]" />
	<property name="Marker.signal_1_unit" value="" />
	<property name="Marker.signal_2_displayformat" value="1" />
	<property name="Marker.signal_2_displayname" value="af32RVec[2]" />
	<property name="Marker.signal_2_name" value="adtf.core.mediadescription_manager/SOP_Marker_Detector/RoadSign_ext/data/tRoadSignExt/af32RVec[2]" />
	<property name="Marker.signal_2_unit" value="" />
	<property name="Marker.signal_3_displayformat" value="1" />
	<property name="Marker.signal_3_displayname" value="af32TVec[0]" />
	<property name="Marker.signal_3_name" value="adtf.core.mediadescription_manager/SOP_Marker_Detector/RoadSign_ext/data/tRoadSignExt/af32TVec[0]" />
	<property name="Marker.signal_3_unit" value="" />
	<property name="Marker.signal_4_displayformat" value="1" />
	<property name="Marker.signal_4_displayname" value="af32TVec[1]" />
	<property name="Marker.signal_4_name" value="adtf.core.mediadescription_manager/SOP_Marker_Detector/RoadSign_ext/data/tRoadSignExt/af32TVec[1]" />
	<property name="Marker.signal_4_unit" value="" />
	<property name="Marker.signal_5_displayformat" value="1" />
	<property name="Marker.signal_5_displayname" value="af32TVec[2]" />
	<property name="Marker.signal_5_name" value="adtf.core.mediadescription_manager/SOP_Marker_Detector/RoadSign_ext/data/tRoadSignExt/af32TVec[2]" />
	<property name="Marker.signal_5_unit" value="" />
	<property name="Marker.signal_6_displayformat" value="1" />
	<property name="Marker.signal_6_displayname" value="f32Imagesize" />
	<property name="Marker.signal_6_name" value="adtf.core.mediadescription_manager/SOP_Marker_Detector/RoadSign_ext/data/tRoadSignExt/f32Imagesize" />
	<property name="Marker.signal_6_unit" value="" />
	<property name="Marker.signal_7_displayformat" value="1" />
	<property name="Marker.signal_7_displayname" value="i16Identifier" />
	<property name="Marker.signal_7_name" value="adtf.core.mediadescription_manager/SOP_Marker_Detector/RoadSign_ext/data/tRoadSignExt/i16Identifier" />
	<property name="Marker.signal_7_unit" value="" />
	<property name="Marker.signal_count" value="8" />
	<property name="Marker.width" value="363" />
	<property name="Marker.x_pos" value="421" />
	<property name="Marker.y_pos" value="256" />
	<property name="NMPC Controller" value="tableview" />
	<property name="NMPC Controller.column_0_name" value="Signal" />
	<property name="NMPC Controller.column_0_show" value="true" />
	<property name="NMPC Controller.column_0_width" value="176" />
	<property name="NMPC Controller.column_1_name" value="Time" />
	<property name="NMPC Controller.column_1_show" value="true" />
	<property name="NMPC Controller.column_1_width" value="100" />
	<property name="NMPC Controller.column_2_name" value="Value" />
	<property name="NMPC Controller.column_2_show" value="true" />
	<property name="NMPC Controller.column_2_width" value="100" />
	<property name="NMPC Controller.column_3_name" value="Unit" />
	<property name="NMPC Controller.column_3_show" value="true" />
	<property name="NMPC Controller.column_3_width" value="100" />
	<property name="NMPC Controller.column_4_name" value="Raw" />
	<property name="NMPC Controller.column_4_show" value="true" />
	<property name="NMPC Controller.column_4_width" value="100" />
	<property name="NMPC Controller.column_5_name" value="Text" />
	<property name="NMPC Controller.column_5_show" value="true" />
	<property name="NMPC Controller.column_5_width" value="100" />
	<property name="NMPC Controller.height" value="196" />
	<property name="NMPC Controller.maximized" value="false" />
	<property name="NMPC Controller.signal_0_displayformat" value="1" />
	<property name="NMPC Controller.signal_0_displayname" value="3 Car speed " />
	<property name="NMPC Controller.signal_0_name" value="adtf.core.mediadescription_manager/SOP_Converter_Wheels/car_speed/data/tSignalValue/f32Value" />
	<property name="NMPC Controller.signal_0_unit" value="" />
	<property name="NMPC Controller.signal_1_displayformat" value="1" />
	<property name="NMPC Controller.signal_1_displayname" value="4 PID Output" />
	<property name="NMPC Controller.signal_1_name" value="adtf.core.mediadescription_manager/SOP_Wheel_Speed_Controller/actuator_output/data/tSignalValue/f32Value" />
	<property name="NMPC Controller.signal_1_unit" value="" />
	<property name="NMPC Controller.signal_2_displayformat" value="1" />
	<property name="NMPC Controller.signal_2_displayname" value="5 break output" />
	<property name="NMPC Controller.signal_2_name" value="adtf.core.mediadescription_manager/SOP_EmergencyBreak/Output Speed/data/tSignalValue/f32Value" />
	<property name="NMPC Controller.signal_2_unit" value="" />
	<property name="NMPC Controller.signal_3_displayformat" value="1" />
	<property name="NMPC Controller.signal_3_displayname" value="1 CarControlFlag" />
	<property name="NMPC Controller.signal_3_name" value="adtf.core.mediadescription_manager/SOP_AutonomousDriving/CarControlFlag/data/tIntSignalValue/IntValue" />
	<property name="NMPC Controller.signal_3_unit" value="" />
	<property name="NMPC Controller.signal_4_displayformat" value="1" />
	<property name="NMPC Controller.signal_4_displayname" value="Test Generator" />
	<property name="NMPC Controller.signal_4_name" value="adtf.core.mediadescription_manager/SOP_StatusTestGenerator/CarControlFlag/data/tIntSignalValue/IntValue" />
	<property name="NMPC Controller.signal_4_unit" value="" />
	<property name="NMPC Controller.signal_5_displayformat" value="1" />
	<property name="NMPC Controller.signal_5_displayname" value="2 MPC Speed Output" />
	<property name="NMPC Controller.signal_5_name" value="adtf.core.mediadescription_manager/SOP_AutonomousDriving/SpeedOutput/data/tSignalValue/f32Value" />
	<property name="NMPC Controller.signal_5_unit" value="" />
	<property name="NMPC Controller.signal_6_displayformat" value="1" />
	<property name="NMPC Controller.signal_6_displayname" value="6 MPC Steering Output" />
	<property name="NMPC Controller.signal_6_name" value="adtf.core.mediadescription_manager/SOP_AutonomousDriving/StreeingOutput/data/tSignalValue/f32Value" />
	<property name="NMPC Controller.signal_6_unit" value="" />
	<property name="NMPC Controller.signal_count" value="7" />
	<property name="NMPC Controller.width" value="441" />
	<property name="NMPC Controller.x_pos" value="436" />
	<property name="NMPC Controller.y_pos" value="359" />
	<property name="Obstacle" value="tableview" />
	<property name="Obstacle.column_0_name" value="Signal" />
	<property name="Obstacle.column_0_show" value="true" />
	<property name="Obstacle.column_0_width" value="100" />
	<property name="Obstacle.column_1_name" value="Time" />
	<property name="Obstacle.column_1_show" value="true" />
	<property name="Obstacle.column_1_width" value="100" />
	<property name="Obstacle.column_2_name" value="Value" />
	<property name="Obstacle.column_2_show" value="true" />
	<property name="Obstacle.column_2_width" value="100" />
	<property name="Obstacle.column_3_name" value="Unit" />
	<property name="Obstacle.column_3_show" value="true" />
	<property name="Obstacle.column_3_width" value="100" />
	<property name="Obstacle.column_4_name" value="Raw" />
	<property name="Obstacle.column_4_show" value="true" />
	<property name="Obstacle.column_4_width" value="100" />
	<property name="Obstacle.column_5_name" value="Text" />
	<property name="Obstacle.column_5_show" value="true" />
	<property name="Obstacle.column_5_width" value="100" />
	<property name="Obstacle.height" value="200" />
	<property name="Obstacle.maximized" value="false" />
	<property name="Obstacle.signal_0_displayformat" value="1" />
	<property name="Obstacle.signal_0_displayname" value="f32x" />
	<property name="Obstacle.signal_0_name" value="adtf.core.mediadescription_manager/SOP_AutonomousDriving/Obstacle/data/tObstacle/f32x" />
	<property name="Obstacle.signal_0_unit" value="" />
	<property name="Obstacle.signal_1_displayformat" value="1" />
	<property name="Obstacle.signal_1_displayname" value="f32y" />
	<property name="Obstacle.signal_1_name" value="adtf.core.mediadescription_manager/SOP_AutonomousDriving/Obstacle/data/tObstacle/f32y" />
	<property name="Obstacle.signal_1_unit" value="" />
	<property name="Obstacle.signal_count" value="2" />
	<property name="Obstacle.width" value="550" />
	<property name="Obstacle.x_pos" value="235" />
	<property name="Obstacle.y_pos" value="461" />
	<property name="Position" value="tableview" />
	<property name="Position.column_0_name" value="Signal" />
	<property name="Position.column_0_show" value="true" />
	<property name="Position.column_0_width" value="100" />
	<property name="Position.column_1_name" value="Time" />
	<property name="Position.column_1_show" value="true" />
	<property name="Position.column_1_width" value="100" />
	<property name="Position.column_2_name" value="Value" />
	<property name="Position.column_2_show" value="true" />
	<property name="Position.column_2_width" value="100" />
	<property name="Position.column_3_name" value="Unit" />
	<property name="Position.column_3_show" value="true" />
	<property name="Position.column_3_width" value="100" />
	<property name="Position.column_4_name" value="Raw" />
	<property name="Position.column_4_show" value="true" />
	<property name="Position.column_4_width" value="100" />
	<property name="Position.column_5_name" value="Text" />
	<property name="Position.column_5_show" value="true" />
	<property name="Position.column_5_width" value="100" />
	<property name="Position.height" value="163" />
	<property name="Position.maximized" value="false" />
	<property name="Position.signal_0_displayformat" value="1" />
	<property name="Position.signal_0_displayname" value="f32heading" />
	<property name="Position.signal_0_name" value="adtf.core.mediadescription_manager/SOP_Positioning/Position/data/tPosition/f32heading" />
	<property name="Position.signal_0_unit" value="" />
	<property name="Position.signal_1_displayformat" value="1" />
	<property name="Position.signal_1_displayname" value="f32radius" />
	<property name="Position.signal_1_name" value="adtf.core.mediadescription_manager/SOP_Positioning/Position/data/tPosition/f32radius" />
	<property name="Position.signal_1_unit" value="" />
	<property name="Position.signal_2_displayformat" value="1" />
	<property name="Position.signal_2_displayname" value="f32speed" />
	<property name="Position.signal_2_name" value="adtf.core.mediadescription_manager/SOP_Positioning/Position/data/tPosition/f32speed" />
	<property name="Position.signal_2_unit" value="" />
	<property name="Position.signal_3_displayformat" value="1" />
	<property name="Position.signal_3_displayname" value="f32x" />
	<property name="Position.signal_3_name" value="adtf.core.mediadescription_manager/SOP_Positioning/Position/data/tPosition/f32x" />
	<property name="Position.signal_3_unit" value="" />
	<property name="Position.signal_4_displayformat" value="1" />
	<property name="Position.signal_4_displayname" value="f32y" />
	<property name="Position.signal_4_name" value="adtf.core.mediadescription_manager/SOP_Positioning/Position/data/tPosition/f32y" />
	<property name="Position.signal_4_unit" value="" />
	<property name="Position.signal_count" value="5" />
	<property name="Position.width" value="410" />
	<property name="Position.x_pos" value="7" />
	<property name="Position.y_pos" value="4" />
	<property name="Signal Tree View" value="treeview" />
	<property name="Signal Tree View.column_0_width" value="380" />
	<property name="Signal Tree View.column_1_width" value="293" />
	<property name="Signal Tree View.column_2_width" value="60" />
	<property name="Signal Tree View.column_3_width" value="63" />
	<property name="Signal Tree View.width" value="402" />
	<property name="TraddicSign Bak" value="tableview" />
	<property name="TraddicSign Bak.column_0_name" value="Signal" />
	<property name="TraddicSign Bak.column_0_show" value="true" />
	<property name="TraddicSign Bak.column_0_width" value="100" />
	<property name="TraddicSign Bak.column_1_name" value="Time" />
	<property name="TraddicSign Bak.column_1_show" value="true" />
	<property name="TraddicSign Bak.column_1_width" value="100" />
	<property name="TraddicSign Bak.column_2_name" value="Value" />
	<property name="TraddicSign Bak.column_2_show" value="true" />
	<property name="TraddicSign Bak.column_2_width" value="100" />
	<property name="TraddicSign Bak.column_3_name" value="Unit" />
	<property name="TraddicSign Bak.column_3_show" value="true" />
	<property name="TraddicSign Bak.column_3_width" value="100" />
	<property name="TraddicSign Bak.column_4_name" value="Raw" />
	<property name="TraddicSign Bak.column_4_show" value="true" />
	<property name="TraddicSign Bak.column_4_width" value="100" />
	<property name="TraddicSign Bak.column_5_name" value="Text" />
	<property name="TraddicSign Bak.column_5_show" value="true" />
	<property name="TraddicSign Bak.column_5_width" value="100" />
	<property name="TraddicSign Bak.height" value="178" />
	<property name="TraddicSign Bak.maximized" value="false" />
	<property name="TraddicSign Bak.signal_0_displayformat" value="1" />
	<property name="TraddicSign Bak.signal_0_displayname" value="f32angle" />
	<property name="TraddicSign Bak.signal_0_name" value="adtf.core.mediadescription_manager/SOP_Positioning/TrafficSign Output/data/tTrafficSign/f32angle" />
	<property name="TraddicSign Bak.signal_0_unit" value="" />
	<property name="TraddicSign Bak.signal_1_displayformat" value="1" />
	<property name="TraddicSign Bak.signal_1_displayname" value="f32x" />
	<property name="TraddicSign Bak.signal_1_name" value="adtf.core.mediadescription_manager/SOP_Positioning/TrafficSign Output/data/tTrafficSign/f32x" />
	<property name="TraddicSign Bak.signal_1_unit" value="" />
	<property name="TraddicSign Bak.signal_2_displayformat" value="1" />
	<property name="TraddicSign Bak.signal_2_displayname" value="f32y" />
	<property name="TraddicSign Bak.signal_2_name" value="adtf.core.mediadescription_manager/SOP_Positioning/TrafficSign Output/data/tTrafficSign/f32y" />
	<property name="TraddicSign Bak.signal_2_unit" value="" />
	<property name="TraddicSign Bak.signal_3_displayformat" value="1" />
	<property name="TraddicSign Bak.signal_3_displayname" value="i16Identifier" />
	<property name="TraddicSign Bak.signal_3_name" value="adtf.core.mediadescription_manager/SOP_Positioning/TrafficSign Output/data/tTrafficSign/i16Identifier" />
	<property name="TraddicSign Bak.signal_3_unit" value="" />
	<property name="TraddicSign Bak.signal_count" value="4" />
	<property name="TraddicSign Bak.width" value="461" />
	<property name="TraddicSign Bak.x_pos" value="419" />
	<property name="TraddicSign Bak.y_pos" value="0" />
	<property name="View" value="scopeview" />
	<property name="View.active_signal" value="-1" />
	<property name="View.autozoom_timer" value="false" />
	<property name="View.autozoomproperties_allsignals" value="true" />
	<property name="View.autozoomproperties_onlyvisiblevalues" value="false" />
	<property name="View.autozoomproperties_refreshrate" value="1000" />
	<property name="View.col_back_b" value="0" />
	<property name="View.col_back_g" value="0" />
	<property name="View.col_back_r" value="0" />
	<property name="View.col_grid_b" value="50" />
	<property name="View.col_grid_g" value="50" />
	<property name="View.col_grid_r" value="50" />
	<property name="View.column_name_width" value="100" />
	<property name="View.height" value="177" />
	<property name="View.link_selections" value="false" />
	<property name="View.maximized" value="false" />
	<property name="View.menubar" value="true" />
	<property name="View.sel_mode" value="0" />
	<property name="View.show_active_only" value="false" />
	<property name="View.show_markers" value="true" />
	<property name="View.show_modified_only" value="false" />
	<property name="View.show_one_scale" value="false" />
	<property name="View.showcolumn_minmaxavg" value="true" />
	<property name="View.showcolumn_selection" value="true" />
	<property name="View.showcolumn_unit" value="true" />
	<property name="View.signal_count" value="0" />
	<property name="View.signal_label_x_offset" value="0" />
	<property name="View.signal_label_y_offset" value="0" />
	<property name="View.splitterpos1" value="61" />
	<property name="View.splitterpos2" value="260" />
	<property name="View.statusbar" value="true" />
	<property name="View.toolbar" value="true" />
	<property name="View.width" value="333" />
	<property name="View.x_pos" value="168" />
	<property name="View.Xinterval" value="10000000" />
	<property name="View.y_pos" value="374" />
	<property name="View.Ymax" value="1,851292407" />
	<property name="View.Ymin" value="-0,00378926288" />
	<property name="View.zoom_mode" value="1" />
	<property name="width" value="892" />
</xml>
